.mobileHeader {
  display: none;
  flex-direction: row;
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  align-items: center;
  z-index: 100;
  background-color: white;
  justify-content: flex-end; }
  .mobileHeader .logo {
    background-image: url(assets/img/logo.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 115px;
    height: 100%;
    position: absolute;
    left: 5px;
    top: 15px; }
  .mobileHeader .hamburger {
    width: 60px;
    height: 45px;
    margin-right: 20px;
    transform: rotate(0deg);
    transition: all 500ms ease-in-out;
    cursor: pointer; }
    .mobileHeader .hamburger span {
      display: block;
      position: absolute;
      height: 8px;
      width: 100%;
      background-color: #2ac62f;
      border-radius: 8px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: all 250ms ease-in-out; }
    .mobileHeader .hamburger span:nth-child(1) {
      top: 0px;
      transform-origin: left center; }
    .mobileHeader .hamburger span:nth-child(2) {
      top: 18px;
      transform-origin: left center; }
    .mobileHeader .hamburger span:nth-child(3) {
      top: 36px;
      transform-origin: left center; }
    .mobileHeader .hamburger.open span:nth-child(1) {
      transform: rotate(45deg);
      top: -3px;
      left: 8px; }
    .mobileHeader .hamburger.open span:nth-child(2) {
      width: 0%;
      opacity: 0; }
    .mobileHeader .hamburger.open span:nth-child(3) {
      transform: rotate(-45deg);
      top: 39px;
      left: 8px; }
  .mobileHeader .mobile-nav {
    opacity: 0;
    transform: translateX(200px);
    transition: all 250ms ease-in-out; }
    .mobileHeader .mobile-nav ul {
      padding: 0;
      margin: 0;
      display: block;
      list-style: none; }
      .mobileHeader .mobile-nav ul li {
        font-family: "Helvetica", arial, sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        transition: all 250ms ease-in-out; }
        .mobileHeader .mobile-nav ul li a {
          color: #bbb;
          text-decoration: none; }
    .mobileHeader .mobile-nav .active {
      font-weight: bold;
      color: #2ac62f !important; }
    .mobileHeader .mobile-nav.open {
      display: block;
      opacity: 1;
      transform: translateX(0); }
      .mobileHeader .mobile-nav.open ul {
        padding: 0;
        margin: 0;
        display: block;
        list-style: none; }
        .mobileHeader .mobile-nav.open ul li {
          font-family: "Helvetica", arial, sans-serif;
          font-size: 12px;
          font-weight: bold;
          text-decoration: none;
          padding: 10px 0; }
          .mobileHeader .mobile-nav.open ul li a {
            color: #bbb;
            text-decoration: none; }
      .mobileHeader .mobile-nav.open .active {
        font-weight: bold;
        color: #2ac62f !important; }

header {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: fixed;
  top: 30px;
  left: 30px;
  width: 280px;
  text-align: center; }
  header .logo {
    background-image: url(assets/img/logo.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 160px;
    height: 90px;
    margin-left: 30px; }
  header .tagLineContainer {
    line-height: .5em;
    color: #aaa; }
    header .tagLineContainer p {
      font-size: 14px; }
    header .tagLineContainer a {
      text-decoration: none;
      color: #aaa; }
  header .comicNav {
    text-align: left;
    width: 100%;
    position: relative;
    top: 20px; }
    header .comicNav hr {
      position: absolute;
      height: 2px;
      border: 0;
      background: black;
      width: 60%;
      background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black)); }
    header .comicNav h3 {
      margin-top: 30px;
      margin-left: 30px; }
    header .comicNav ul {
      list-style: none;
      margin: 30px 0 0 0;
      padding: 0; }
      header .comicNav ul li {
        margin-bottom: 20px;
        font-family: "Helvetica", arial, sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none; }
        header .comicNav ul li a {
          text-decoration: none;
          color: #bbb; }
          header .comicNav ul li a:hover {
            color: black; }
  header .socialContainer {
    display: flex;
    width: 100%; }
    header .socialContainer .twitter {
      background-image: url(assets/img/twitter.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 20px; }
    header .socialContainer .tumblr {
      background-image: url(assets/img/tumblr.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 20px; }
    header .socialContainer .instagram {
      background-image: url(assets/img/instagram.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
    header .socialContainer .socialIcon {
      height: 60px;
      width: 60px;
      transition: all 500ms ease-in-out;
      transform: scale(1); }
      header .socialContainer .socialIcon:hover {
        transform: scale(1.2); }
  header .active {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #2ac62f !important; }

@media screen and (max-width: 715px) {
  header {
    display: none; }
  .mobileHeader {
    display: flex; } }

.home-section {
  height: auto;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 350px; }
  .home-section .imageGap {
    margin-bottom: 50px; }
  .home-section img {
    width: 650px; }

@media screen and (max-width: 990px) {
  .home-section img {
    width: 450px; } }

@media screen and (max-width: 805px) {
  .home-section img {
    width: 350px; } }

@media screen and (max-width: 715px) {
  .home-section {
    margin-top: 100px;
    margin-left: 0;
    justify-content: center;
    align-items: center; } }

html body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
