header
  display: flex
  flex-direction: column
  align-items: left
  position: fixed
  top: 30px
  left: 30px
  width: 280px
  text-align: center


  .logo
    background:
      image: url(assets/img/logo.jpeg)
      size: contain
      repeat: no-repeat
    width: 160px
    height: 90px
    margin-left: 30px

  .tagLineContainer
    line-height: .5em
    color: #aaa
    p
      font-size: 14px
    a
      text-decoration: none
      color: #aaa
  .comicNav
    text-align: left
    width: 100%
    ul
      list-style: none
      margin: 30px 0 0 0
      padding: 0

      li
        margin-bottom: 20px
        font-family: "Helvetica", arial, sans-serif

      .circuit1
        margin-bottom: 20px
        font-weight: bold
        font-size: 20px
        text-decoration: none
        color: #2ac62f

      .tales
        margin-bottom: 10px
        font-size: 12px
        font-weight: bold
        color: #bbb
        text-decoration: none

  .socialContainer
    display: flex
    width: 100%

    .twitter
      background:
        image: url(assets/img/twitter.png)
        size: contain
        position: center
        repeat: no-repeat
      height: 50px
      width: 50px
      border-radius: 50%
      margin-right: 20px

    .tumblr
      background:
        image: url(assets/img/tumblr.png)
        size: contain
        position: center
        repeat: no-repeat
      height: 50px
      width: 50px
      border-radius: 50%
      margin-right: 20px

    .instagram
      background:
        image: url(assets/img/instagram.png)
        size: contain
        position: center
        repeat: no-repeat
      height: 50px
      width: 50px
      border-radius: 50%
