.home-section
  height: 2700px
  display: flex
  flex-direction: column
  margin-left: 280px

  .imageGap
    margin-bottom: 50px

  .image1
    background:
      image: url(assets/img/image1.jpeg)
      size: contain
      repeat: no-repeat
    width: 100%
    height: 100%

  .image2
    background:
      image: url(assets/img/image2.jpeg)
      size: contain
      repeat: no-repeat
    width: 100%
    height: 100%

  .image3
    background:
      image: url(assets/img/image3.jpeg)
      size: contain
      repeat: no-repeat
    width: 100%
    height: 100%
